@use './mixins.scss' as *;

.header {
  &--logo {
    color: var(--color-white);
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 1.8rem;
    text-transform: uppercase;
    font-family: var(--font-serif);
    text-align: center;
    padding: 0.3rem 0;
    text-shadow: 1px 1px var(--color-grey);
    &--sub {
      font-size: 1.5rem;
      font-weight: normal;
      color: var(--color-ltgrey);
      font-family: var(--font-sans);
    }
  }

  &--icon {
    display: inline-block;
    font-size: 2rem;
    color: var(--color-white);
  }

  &--icon:hover,
  &--icon:active,
  &--icon:focus {
    color: var(--color-ltgrey);
  }
}

// bootstrap mods
.navbar-dark.bg-dark {
  background-color: var(--color-dkgrey) !important;
}

#offcanvasNavbar {
  background-color: var(--color-dkgrey);
  color: var(--color-white);
}
