.large-hero {
  position: relative;

  &--content {
    position: absolute;
    left: 50%; /* horizontal alignment */
    top: 50%; /* vertical alignment */
    transform: translate(-50%, -50%); /* precise centering */
    text-align: center;
    padding: 10px;
  }

  &--title {
    font-weight: 300;
    color: var(--color-ltblue);
    font-family: 'Roboto Serif', serif;
    margin-bottom: 0;
  }

  &--subtitle {
    font-weight: 300;
    color: var(--color-orange);
    border-bottom: 1px var(--color-ltgrey) solid;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }
  &--more-info {
    color: var(--color-white);
    font-size: 1.6em;
    font-weight: 300;
    text-shadow: 2px 1px var(--color-grey);
  }
}
