@use './mixins.scss' as *;

.resume {
  &--skills {
    &--list {
      padding-left: 3.5rem;
    }
  }
  &--experience {
    &--job {
      margin-bottom: 2rem;
      margin-top: 1rem;
      @include smScreen {
        margin-left: 3rem;
      }

      &--heading {
        font-size: 1.4rem;
      }
      &--subheading {
        font-family: var(--font-serif);
        font-size: 1rem;
        text-transform: uppercase;
      }
    }
  }
}
