.resume {
  &--summary {
    &--text {
    }
  }
  &--skills {
    &--list {
      padding-left: 3.5rem;
    }
  }
  &--experience {
    &--job {
      margin-left: 3rem;
      &--heading {
        font-size: 1.4rem;
      }
      &--subheading {
        font-family: var(--font-serif);
        font-size: 1rem;
        text-transform: uppercase;
      }
    }
  }
}
