* {
  /*colors*/
  --color-orange: #e39527;
  --color-dkorange: #a36105;
  --color-blue: #0c62a4;
  --color-ltblue: #4798d5;
  --color-dkgrey: #101010;
  --color-grey: #333;
  --color-ltgrey: #b5b5b5;
  --color-white: #fff;
}
