body {
  font-family: var(--font-sans);
  color: var(--color-grey);
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  padding-top: 4rem;
}

/*button colors*/
.btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: var(--font-serif);
  text-shadow: none;
  box-shadow: 2px 2px 4px var(--color-shadow);
  border-radius: 0;
}
.btn-orange {
  background-color: var(--color-orange);
  border-color: var(--color-orange);
  color: var(--color-white);
}
.btn-orange:focus, .btn-orange:active, .btn-orange:hover {
  background-color: var(--color-dkorange);
  border-color: var(--color-dkorange);
  color: var(--color-white);
}
